/* fonts */
.righteous{
    font-family: 'Righteous', cursive;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* colore da utilizzare */
.color{
    Color: #1566C0
}

.colorWhite{
    color: white;
}

/* header */
.btn-warning{
    border-radius: 0;
    width: 125px;
}

.bg-header{
    height: 120vh;
    width: 100vw;
    background: url('./media/wave2.svg'), url('./media/wave1.svg'), linear-gradient(to bottom, rgb(0,0,0), rgba(0,0,0,0)), url('./media/header.jpg');
    background-position: bottom,0% 97%, center, center;
    background-repeat: no-repeat;
}

.div_header{
    margin-bottom: 200px;
}

h1{
    font-size: 50px;
}

/* CARDS section 2 */
.cardSect2{
    height: 350px;
    width: 300px;
}
.cardTitle{
    border-bottom: 2px solid yellow;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    font-weight: bolder;
    font-family: 'Righteous', cursive;
}
.iconaCard{
    margin-left: 10px;
    margin-top: 30px;
}
.cardPara{
    margin-left: 10px;
    font-size: small;
    font-weight:500;
    margin-top: 30px;
}
/* sfondi card */
.card1{
    background: linear-gradient(rgba(0, 0, 0, 0.815), rgba(128, 128, 128, 0.527), rgba(0, 0, 0, 0.801)), url(./media/1.png);
    background-size:cover;
}
.card2{
    background: linear-gradient(rgba(0, 0, 0, 0.815), rgba(128, 128, 128, 0.527), rgba(0, 0, 0, 0.801)), url(./media/2.png);
    background-size:cover;
}
.card3{
    background: linear-gradient(rgba(0, 0, 0, 0.815), rgba(128, 128, 128, 0.527), rgba(0, 0, 0, 0.801)), url(./media/3.png);
    background-size:cover;
}
.card4{
    background: linear-gradient(rgba(0, 0, 0, 0.815), rgba(128, 128, 128, 0.527), rgba(0, 0, 0, 0.801)), url(./media/4.png);
    background-size:cover;
}



/* sezione cards asimmetriche (iniziato da Adam) */
.font-2xl{
    font-size: xx-large;
}

@media screen and (min-height: 300px){
.cardAsymm{
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
} 
}
@media screen and (min-width: 100px) {
.cardAsymm{
    width: 300px;
}
}

/* .cardAsymm2{
    height: 175px;
} */

/* .cardAsymmWidth{
    width: 300px;
} */

/* .boxP{
    height: 500px;
} */

.card_sfalsate{
    border-radius: 5%;
    box-shadow: 1px 5px 1px 3px rgba(0, 0, 0, 0.1);
}

/* SEZIONE TESTO + 6 IMMAGINETTE */

.card_custom_imginette{
    width: 70px;
    height: 70px;
    /* border: solid 1px; */
    border-radius: 20%;
    padding: 5px;
}
.cont_custom_testo{
    border-radius: 20px;
    box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.1);
}
.shadow_imginette{
    box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.1);
}

/* IMMAGINI ROTONDE */
.img-round {

    border: 6px solid #1566C0;

}

.border-right{
    border-right: 3px solid #1566C0;
    position: relative;
}

.border-right::after{
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid #1566C0;
    position: absolute;
    background-color: white;
    left: 98%;
    top: 0%;
}

.button-timeline{
    background-color: #1566C0;
    color: white;
    width: 140px;
    height: 40px;
    border: none;
}

/* footer */
.h3-footer{
    color: yellow;
}

.bg-footer{
    background-image: linear-gradient(white, rgba(255, 255, 255, 0.349), rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.918)), url(./media/footer.jpg);
    height: 90vh;
    background-size: cover;
    background-position: bottom;
}